<div class="container">
    <form [formGroup]="userDetailsForm" enctype="multipart/form-data">
        <div class="left">
            <div class="profile-picture-container">
                <img *ngIf="!userDetailsForm.value.image" class="profile-picture"
                    src="../../../assets/images/Profile_image.jpg" alt="Profile Picture">
                <img *ngIf="userDetailsForm.get('image')?.value" class="profile-picture"
                    [src]="userDetailsForm.get('image')?.value" alt="Profile Picture">
            </div>

            <div class="btn-container" [class.default-margin]>
                <label for="profilePicture" class="upload-button" *ngIf="!userDetailsForm.value.image">Upload
                    <input type="file" id="profilePicture" (change)="loadProfilePicture($event)">
                </label>
                <button *ngIf="userDetailsForm.value.image" class="remove-button"
                    (click)="removeProfilePicture()">Remove</button>
            </div>
        </div>

        <!-- Spinner module -->
        <div *ngIf="showSpinner">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"
                [fullScreen]="true">
                <p style="color: white"> Sending... </p>
            </ngx-spinner>
        </div>

        <div class="right">
            <h4>User Profile</h4>
            <div class="role-info">
                Signed in as: {{ userRole }}
                <div *ngIf="userProfile?.isSeller">
                    Account Status: 
                    <span *ngIf="userProfile.isActiveSeller" class="verified-icon">
                        Verified <i class="ri-verified-badge-line"></i>
                    </span>
                    <span *ngIf="!userProfile.isActiveSeller" class="not-verified-icon">
                        Not Verified <i class="ri-close-circle-line"></i>
                    </span>
                </div>
            </div>
            
                       
            <label for="name">User Name</label>
            <input formControlName="username" id="name" type="text" placeholder="User Name" autocomplete="name"
                [ngClass]="{ 'invalid-input': userForm?.invalid && userForm?.touched }">
            <div *ngIf="userForm?.touched">
                <div *ngIf="userForm?.hasError('minlength')" class="validation-message">
                    **Username must be at least 6 characters**</div>
            </div>
            <label for="email">Email ID</label>
            <input formControlName="email" id="email" type="text" placeholder="Enter Email ID" autocomplete="email">

            <!-- ID Proof -->
            <div *ngIf="userProfile?.isSeller && !userProfile?.isActiveSeller" class="input-field owner-documents">
                <label for="idProof">Govt. ID Proof: (Aadhar / Pancard)</label>
                <div class="custom-file-upload">
                    <input  type="file" id="idProof" (change)="selectFile($event, 'idProof')"
                        accept=".pdf" required>
                    <span>{{ filesIdProof?.name || 'Choose file (PDF)' }}</span>
                </div>
            </div>

            <!-- Storage Documents Proof -->
            <div *ngIf="userProfile?.isSeller && !userProfile?.isActiveSeller" class="input-field owner-documents">
                <label for="documentProof">Storage Unit Proof: (Lease Agreement)</label>
                <div class="custom-file-upload">
                    <input  type="file" id="documentProof"
                        (change)="selectFile($event, 'documentProof')" accept=".pdf" required>
                    <span>{{ filesStorageProof?.name || 'Choose file (PDF)' }}</span>
                </div>
            </div>

            <div class="buttons">
                <button *ngIf="userProfile?.isSeller && !userProfile?.isActiveSeller" class="action-btn" type="button"
                (click)="sendDocs()">Upload</button>
                <button *ngIf="!isEditMode" class="action-btn" type="button" (click)="editProfile()">Edit</button>
                <button *ngIf="isEditMode" class="action-btn save" type="button" (click)="saveProfile()"
                    [disabled]="userForm?.invalid || userForm?.pristine">Save</button>
                <button *ngIf="isEditMode" class="action-btn" type="button" (click)="discardChanges()">Discard</button>
            </div>

        </div>
    </form>
</div>