<div class="container">

    <!-- About Us Section -->
    <div class="about-us">
        <div class="header">
            <h1>About Us <i class="ri-information-2-line"></i></h1>
        </div>
        <div class="about-content">
            <p>StorageBox was created in 2023 with the primary aim of simplifying the process 
                of listing and finding storage units. 
                Previously, there were no platforms offering such services; 
                individuals could only rely on contacting storage unit businesses directly. 
                However, with StorageBox, we've introduced a centralized platform where storage 
                unit owners can list their units, upload photos, and provide detailed information. 
                Renters can now easily browse through these listings and contact the owners directly.</p>
        </div>
    </div>

    <!-- Our Team Section -->
    <div class="header">
        <h1>Our Team <i class="ri-team-line"></i></h1>
    </div>

    <div class="sub-container">

        <div class="teams">
            <img src="../../../assets/images/dev.jpg" alt="">
            <div class="name">Ayush Sardar</div>
            <div class="designation">Backend Developer</div>
            <div class="about">Hey, I developed the backend part of this project.</div>
            <div class="social-links">
                <a href="https://github.com/AyushSardar7" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/ayush-sardar-705b17259" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
            </div>
        </div>

        <div class="teams">
            <img src="../../../assets/images/dev2.jpg" alt="">
            <div class="name">Suraj Sharma</div>
            <div class="designation">Project Lead / Frontend Developer</div>
            <div class="about">Hello, I lead the team that developed this project and also designed the website.</div>
            <div class="social-links">
                <a href="https://github.com/suraj-sh" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/surajmhsharma" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
            </div>
        </div>

        <div class="teams">
            <img src="../../../assets/images/dev3.jpg" alt="">
            <div class="name">Sakshi Kardak</div>
            <div class="designation">Frontend Developer</div>
            <div class="about">Hi, I developed the frontend part of this project</div>
            <div class="social-links">
                <a href="https://github.com/SakshiKardak" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/sakshi-kardak-70969b24b" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
            </div>
        </div>
    </div>
</div>