/* You can add global styles to this file, and also import other style files */
@import 'node_modules/ngx-spinner/animations/ball-clip-rotate-pulse.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color: rgb(69, 141, 186);
    --color-hover: #326b95;
}