<main>

    <div class="left">
        <h2>One Stop <span>Storage Space</span> Solution in India</h2>
        <p>Explore nearby storage listings, connect directly with owners, 
            and uncover your ideal space by clicking on 'View Ads.' 
            Simplify your storage journey today!
        </p>
        <button (click)="viewads()">View Ads</button>
    </div>

    <div class="right">
        <img src="../../../assets/images/storage.png" alt="storage-image" loading="lazy">
    </div>

</main>