<div class="container">
    <div class="title">{{ adId ? 'Update' : 'Post' }} Ad</div>
    <div class="content">
        <form [formGroup]="postForm" enctype="multipart/form-data">

            <!-- Spinner module -->
            <div *ngIf="showSpinner">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"
                    [fullScreen]="true">
                    <p style="color: white"> Sending... </p>
                </ngx-spinner>
            </div>
            
            <div class="user-details">

                <!-- File input container -->
                <div class="file-upload-container">
                    <span>Upload Images</span>
                    <label for="imageInput" class="file-upload-button">Upload</label>
                    <input formControlName="images" id="imageInput" type="file" (change)="handleFileInput($event)"
                        accept="image/*" multiple>
                </div>

                <div class="image-preview">
                    <div *ngFor="let preview of imagePreviews; let i = index" class="image-container">
                        <img [src]="preview" alt="Preview">
                        <button class="delete-icon" (click)="deleteImage(i)">
                            <i class="ri-close-fill"></i>
                        </button>
                    </div>
                </div>

                <!-- Title -->
                <div class="input-box">
                    <span>Title</span>
                    <input formControlName="name" name="title" type="text" placeholder="Enter Ad title" required>
                    <div *ngIf="postForm.controls['name'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['name'].hasError('required')">**Title is required**</div>
                    </div>
                </div>

                <!-- Description -->
                <div class="input-box">
                    <span>Description</span>
                    <textarea formControlName="description" name="description"
                        placeholder="Provide additional details like dimensions of the unit, availability"
                        (input)="autoResize($event)" required></textarea>
                    <div *ngIf="postForm.controls['description'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['description'].hasError('required')">**Description is required**
                        </div>
                    </div>
                </div>

                <!-- Category -->
                <div class="input-box">
                    <span>Category</span>
                    <select formControlName="category" name="category" required>
                        <option value="" disabled selected>Select category</option>
                        <option value="Self Storage">Self Storage (Small Storage Space)</option>
                        <option value="Document Storage">Document Storage (Locker Based Unit)</option>
                        <option value="Commercial Storage">Commercial Storage (Larger Storage Space)</option>
                    </select>
                    <div *ngIf="postForm.controls['category'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['category'].hasError('required')">**Category is required**</div>
                    </div>
                </div>

                <!-- Price -->
                <div class="input-box">
                    <span>Price (Monthly)</span>
                    <input formControlName="price" name="price" type="text" inputmode="numeric"
                        placeholder="Enter price" (input)="formatPrice($event)" required>
                    <div *ngIf="postForm.controls['price'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['price'].hasError('required')">**Price is required**</div>
                    </div>
                </div>

                <!-- City -->
                <div class="input-box">
                    <span>City</span>
                    <select formControlName="city" name="city" required>
                        <option value="" disabled selected>Select city</option>
                        <option>Pune</option>
                        <option>Mumbai</option>
                        <option>Nashik</option>
                        <option>Bangalore</option>
                        <option>Delhi</option>
                        <option>Hyderabad</option>
                    </select>
                    <div *ngIf="postForm.controls['city'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['city'].hasError('required')">**City is required**</div>
                    </div>
                </div>

                <!-- Status -->
                <div class="input-box" *ngIf="adId">
                    <span>Status</span>
                    <select formControlName="isRented" name="isRented" required>
                        <option value="false">Available</option>
                        <option value="true">Rented</option>
                    </select>
                </div>

                <!-- Mobile Number -->
                <div class="input-box">
                    <span>Mobile Number</span>
                    <input formControlName="mobileNo" name="mobile" type="text" inputmode="numeric"
                        placeholder="Enter mobile number" required>
                    <div *ngIf="postForm.controls['mobileNo'].touched" class="validation-message">
                        <div *ngIf="postForm.controls['mobileNo'].hasError('required')">**Mobile Number is required**
                        </div>
                        <div *ngIf="postForm.controls['mobileNo'].hasError('pattern')">**Mobile Number should be 10
                            digits only**</div>
                    </div>
                </div>

            </div>

            <button type="button" [disabled]="!postForm.valid || postForm.pristine" (click)="post()">{{ adId ? 'Update'
                : 'Post' }} AD</button>
        </form>
    </div>
</div>