.container {
    width: 90%;
    height: calc(80vh - 20px);
    margin: 1vw auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
}

.skeleton-left,
.skeleton-right {
    width: 50%;
    padding: 30px;
    border: 1px solid #cccccc;  
}

.skeleton-left {
    width: 55%;
}

.main_image.skeleton img {
    width: 100%;
    height: 55vh;
    margin-bottom: 20px;
}

.skeleton-left .option img {
    width: 100px;
    height: 80px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
}

.skeleton-right {
    padding: 20px 60px;
}

.title.skeleton, 
.category.skeleton,
.location.skeleton,
.date.skeleton,
.price.skeleton,
.rented.skeleton,
.posted-by.skeleton,
.mobile.skeleton,
.description.skeleton {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.profile-picture-container.skeleton{
    border: none;
}

.category.skeleton{
    width: 50%;
}

.dl,
.pa,
.contact {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.description.skeleton{
    height: 60px;
}

.main_image.skeleton img,
.skeleton-left .option img,
.title.skeleton, 
.category.skeleton,
.location.skeleton,
.date.skeleton,
.price.skeleton,
.rented.skeleton,
.posted-by.skeleton,
.mobile.skeleton,
.description.skeleton{
    background: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, 0.11) 20%, #d9d9d9 40%, #d9d9d9 100%);
    animation: animation 2s linear infinite;
}

@keyframes animation {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0; 
    }
}


.left,
.right {
    width: 50%;
    padding: 30px;
    background-color: white;
    border: 1px solid #cccccc;  
}

.left {
    width: 55%;
}

.main_image {
    position: relative;
}

.main_image img {
    width: 100%;
    object-fit: contain;
    height: 55vh;
    background: #333;
    margin-bottom: 20px;
}

.option {
    display: flex;
    overflow-x: scroll;
   
}

.option::-webkit-scrollbar {
    display: none;
}

.option img {
    width: 100px;
    height: 80px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option img:hover {
    transform: scale(1.1);
}

.option img.selected {
    border: 2px solid #333;
}

.slide-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.prev-button,
.next-button {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev-button i,
.next-button i {
    font-size: 3rem;
}

.right {
    padding: 20px 60px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}

.right::-webkit-scrollbar {
    display: none;
}

.title {
    color: #333;
    margin: 20px 0;
    font-size: 30px;
    max-width: auto;
    overflow: hidden;
}


.description {
    color: #666;
    font-size: 20px;
    white-space: pre-wrap;
    margin: 20px 0;
}

i {
    font-size: 30px;
}

.category,
.mobile,
.location,
.date,
.posted-by,
.price,
.rented {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price {
    color: var(--color);
}

.rented {
    color: green
}

.dl,
.pa,
.contact {
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-picture-container {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #4070f4;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.contact span {
    padding-left: 10px;
}


@media (max-width: 600px) {
    .container {
        width: 100%;
        display: block;
        max-height: calc(85vh - 5px);
        flex-direction: column;
        overflow-y: auto;
        height: auto;        
    }

    .skeleton-left,
    .skeleton-right,
    .left,
    .right {
        width: 100%;
        padding: 20px;
    }

    .main_image.skeleton img {
        height: 50vh;
        margin-bottom: 10px;
    }

    .category.skeleton,
    .location.skeleton,
    .date.skeleton,
    .price.skeleton,
    .rented.skeleton,
    .posted-by.skeleton,
    .mobile.skeleton,
    .description.skeleton {
        width: 100%;
        height: 20px;
        margin: 10px 0;
    }

    .title.skeleton {
        height: 40px;
    }

    .description.skeleton {
        height: 40px;
    }

    .right{
        max-height: none;
    }

    .main_image img {
        height: 50vh;
    }

    .prev-button i,
    .next-button i {
        font-size: 2.5rem;
    }

    i {
        font-size: 25px;
    }

    .title{
        margin-top: 10px;
    }
    
    .category,
    .mobile,
    .location,
    .date,
    .posted-by,
    .price,
    .rented {
        font-size: 18px;
    }

    .profile-picture-container {
        width: 9vw;
        height: 9vw;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #4070f4;
    }
}