<div class="container">
  <div class="forms">
    <div class="form reset-password">
      <span class="title">Reset Password</span>

      <form [formGroup]="resetPasswordForm">

        <div class="input-field" [class.error]="password?.invalid && password?.touched">
          <input id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
            placeholder="Password" autocomplete="new-password" required>
          <i class="ri-lock-2-line"></i>
          <div *ngIf="password?.touched">
            <div *ngIf="password?.hasError('required')" class="validation-message">**Password is required**
            </div>
            <div *ngIf="password?.hasError('minlength')" class="validation-message">**Password must be at least 12
              characters**</div>
            <div *ngIf="password?.hasError('pattern')" class="validation-message">**Password must contain at least one
              number and one special character**</div>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="input-field" [class.error]="confirmPassword?.invalid && confirmPassword?.touched">
          <input id="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword"
            placeholder="Confirm Password" autocomplete="current-password" required>
          <i class="ri-lock-2-line"></i>
          <i *ngIf="passwordVisible" class="ri-eye-line showHidePw" (click)="togglePasswordVisibility()"></i>
          <i *ngIf="!passwordVisible" class="ri-eye-off-line showHidePw " (click)="togglePasswordVisibility()"></i>
          <div *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched" class="validation-message">
            **Password is required**</div>
          <div *ngIf="confirmPassword?.value !== password?.value && confirmPassword?.touched"
            class="validation-message">
            **Passwords do not match**</div>
        </div>

        <div class="input-field button">
          <button (click)="resetPassword()" [disabled]="resetPasswordForm.invalid"
            [class.disabled]="resetPasswordForm.invalid" type="submit">Reset Password</button>
        </div>
      </form>

      <div class="login">
        <span class="text">Remember your password?
          <a routerLink="/login" class="text login-link">Login</a>
        </span>
      </div>
    </div>
  </div>
</div>