.container {
    width: 100%;
    max-width: 430px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 5vw auto;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.title {
    position: relative;
    font-size: 22px;
    font-weight: 600;
}

.input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

input {
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

i.showHidePw {
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 8px;
}

input:is(:focus, :valid)~i {
    color: #4070f4;
}

.error {
    margin-bottom: 30px;
}

.error input {
    border-bottom-color: #ff0000;
}

.validation-message {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}

.button {
    margin-top: 30px;
}

button {
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px 20px;
}

button:hover {
    background-color: #265df2;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.login {
    margin-top: 20px;
    text-align: center;
}

a.text {
    color: #4070f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        margin: 30vw auto;
        max-width: 340px;
    }
}