<div class="container">
  <div class="form signup">
    <span class="title">Registration</span>
    <form [formGroup]="registrationForm">

      <div *ngIf="currentStep === 1">
        <!-- Step 1: Role Selection, Username and Email -->
        <div class="input-field">
          <span class="label">Select your role:</span>
          <div class="radio-buttons">
            <input type="radio" id="owner" formControlName="isSeller" [value]="true"
              (change)="updateOwnerDocumentsSection()" required>
            <label for="owner">Owner</label>

            <input type="radio" id="renter" formControlName="isSeller" [value]="false"
              (change)="updateOwnerDocumentsSection()" required>
            <label for="renter">Renter</label>
          </div>
        </div>

       
        <!-- ID Proof -->
        <div *ngIf="showOwnerDocumentsSection" class="input-field owner-documents">
          <label for="idProof">ID Proof:</label>
          <div class="custom-file-upload">
            <input type="file" id="idProof" formControlName="idProof" (change)="selectFile($event, 'idProof')" required>
            <span>{{ filesIdProof?.name || 'Choose File' }}</span>
            <div
              *ngIf="isSeller?.value && registrationForm.get('idProof')?.hasError('required') && registrationForm.get('idProof')?.touched"
              class="validation-message">ID Proof is required
            </div>
          </div>
        </div>

        <!-- Storage Documents Proof -->
        <div *ngIf="showOwnerDocumentsSection" class="input-field owner-documents">
          <label for="DoucemntProof">Proof of Storage Unit:</label>
          <div class="custom-file-upload">
            <input type="file" id="DoucemntProof" formControlName="DoucemntProof" (change)="selectFile($event, 'DoucemntProof')" required>
            <span>{{ filesStorageProof?.name || 'Choose File' }}</span>
            <div
              *ngIf="isSeller?.value && registrationForm.get('DoucemntProof')?.hasError('required') && registrationForm.get('DoucemntProof')?.touched"
              class="validation-message">
              Proof of Storage Unit is required
            </div>
          </div>
        </div>

        <!-- Username -->
        <div class="input-field" [class.error]="user?.invalid && user?.touched">
          <input id="name" type="text" formControlName="user" placeholder="Enter your username" autocomplete="name"
            required>
          <i class="ri-user-3-line"></i>
          <div *ngIf="user?.touched">
            <div *ngIf="user?.hasError('required')" class="validation-message">**Username is required**</div>
            <div *ngIf="user?.hasError('minlength')" class="validation-message">**Name must be at least 6 characters**
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="input-field" [class.error]="email?.invalid && email?.touched">
          <input id="email" type="email" formControlName="email" placeholder="Enter your email" autocomplete="email"
            required>
          <i class="ri-mail-line"></i>
          <div *ngIf="email?.touched">
            <div *ngIf="email?.hasError('required')" class="validation-message">**Email is required**</div>
            <div *ngIf="email?.hasError('pattern')" class="validation-message">**Please enter a valid email address**
            </div>
          </div>
        </div>

        <!-- Spinner module -->
        <div *ngIf="showSpinner">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-clip-rotate-pulse"
            [fullScreen]="true">
            <p style="color: white"> Sending... </p>
          </ngx-spinner>
        </div>

        <!-- Send Verification Code Button -->
        <div class="input-field button">
          <button [disabled]="!email?.valid" (click)="sendVerificationCode()" type="button">Send Verification
            Code</button>
        </div>

        <!-- Next Button for Step 2 -->
        <!-- <div class="input-field button">
          <button (click)="nextStep()" type="button">Next</button>
        </div> -->
      </div>

      <div *ngIf="currentStep === 2">
        <!-- Verfication code for Email (OTP), Password and Confirm Password -->
        <div class="input-field" [class.error]="verificationCode?.invalid && verificationCode?.touched">
          <input id="verificationCode" type="text" inputmode="numeric" formControlName="verificationCode"
            placeholder="Enter verification code" autocomplete="off" required>
          <i class="ri-key-line"></i>
          <div *ngIf="verificationCode?.hasError('required') && verificationCode?.touched" class="validation-message">
            **Verification code is required**
          </div>
        </div>

        <!-- Password -->
        <div class="input-field" [class.error]="pwd?.invalid && pwd?.touched">
          <input id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="pwd"
            placeholder="Password" autocomplete="new-password" required>
          <i class="ri-lock-2-line"></i>
          <div *ngIf="pwd?.touched">
            <div *ngIf="pwd?.hasError('required')" class="validation-message">**Password is required**</div>
            <div *ngIf="pwd?.hasError('minlength')" class="validation-message">**Password must be at least 12
              characters**</div>
            <div *ngIf="pwd?.hasError('pattern')" class="validation-message">**Password must contain at least one number
              and one special character**</div>
          </div>
        </div>

        <div class="input-field" [class.error]="confirmPassword?.invalid && confirmPassword?.touched">
          <input id="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword"
            placeholder="Confirm Password" autocomplete="current-password" required>
          <i class="ri-lock-2-line"></i>
          <i *ngIf="passwordVisible" class="ri-eye-line showHidePw" (click)="togglePasswordVisibility()"></i>
          <i *ngIf="!passwordVisible" class="ri-eye-off-line showHidePw " (click)="togglePasswordVisibility()"></i>
          <div *ngIf="confirmPassword?.touched">
            <div *ngIf="confirmPassword?.hasError('required')" class="validation-message">
              **Password is required**</div>
            <div *ngIf="confirmPassword?.value !== pwd?.value" class="validation-message">
              **Passwords do not match**</div>
          </div>
        </div>

        <!-- Register Button for Step 2 -->
        <div class="input-field button">
          <button [disabled]="registrationForm.invalid" (click)="register()" type="button">Register</button>
        </div>

        <!-- Previous Button for Step 1 -->
        <!-- <div class="input-field button">
          <button type="button" (click)="prevStep()">Previous</button>
        </div> -->
      </div>

    </form>

    <!-- Login Link -->
    <div class="login-signup">
      <span class="text">Already have an account?
        <a routerLink="/login" class="text login-link">Login Now</a>
      </span>
    </div>
  </div>
</div>