<div class="container">
  <div class="forms">
    <div class="form signup">
      <span class="title">Registration</span>
      <form [formGroup]="registrationForm" novalidate>

        <!-- Username -->
        <div class="input-field" [class.error]="user?.invalid && user?.touched">
          <input id="name" type="text" formControlName="user" placeholder="Enter your username" autocomplete="name"
            required>
          <i class="ri-user-3-line"></i>
          <div *ngIf="user?.touched">
            <div *ngIf="user?.hasError('required')" class="validation-message">**Username is required**
            </div>
            <div *ngIf="user?.hasError('minlength')" class="validation-message">**Name must be at least 6
              characters**</div>
          </div>
        </div>

        <!-- Email -->
        <div class="input-field" [class.error]="email?.invalid && email?.touched">
          <input id="email" type="email" formControlName="email" placeholder="Enter your email" autocomplete="email"
            required>
          <i class="ri-mail-line"></i>
          <div *ngIf="email?.hasError('required') && email?.touched" class="validation-message">**Email is required**
          </div>
          <div *ngIf="email?.hasError('email') && email?.touched" class="validation-message">**Invalid email format**
          </div>
        </div>

        <!-- Password -->
        <div class="input-field" [class.error]="pwd?.invalid && pwd?.touched">
          <input id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="pwd"
            placeholder="Password" autocomplete="new-password" required>
          <i class="ri-lock-2-line"></i>
          <div *ngIf="pwd?.touched">
            <div *ngIf="pwd?.hasError('required')" class="validation-message">**Password is required**
            </div>
            <div *ngIf="pwd?.hasError('minlength')" class="validation-message">**Password must be at least 12
              characters**</div>
            <div *ngIf="pwd?.hasError('pattern')" class="validation-message">**Password must contain at least one number
              and one special character**</div>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="input-field" [class.error]="confirmPassword?.invalid && confirmPassword?.touched">
          <input id="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword"
            placeholder="Confirm Password" autocomplete="current-password" required>
          <i class="ri-lock-2-line"></i>
          <i *ngIf="passwordVisible" class="ri-eye-line showHidePw" (click)="togglePasswordVisibility()"></i>
          <i *ngIf="!passwordVisible" class="ri-eye-off-line showHidePw " (click)="togglePasswordVisibility()"></i>
          <div *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched" class="validation-message">
            **Password is required**</div>
          <div *ngIf="confirmPassword?.value !== pwd?.value && confirmPassword?.touched" class="validation-message">
            **Passwords do not match**</div>
        </div>

        <!-- Submit Button -->
        <div class="input-field button">
          <button [disabled]="registrationForm.invalid" (click)="register()" type="button">Register</button>
        </div>
      </form>

      <!-- Login Link -->
      <div class="login-signup">
        <span class="text">Already have an account?
          <a routerLink="/login" class="text login-link">Login Now</a>
        </span>
      </div>
    </div>
  </div>
</div>