<div class="container">
    <div class="forms">
        <div class="form signup">
            <span class="title">Registration</span>

            <form (ngsubmit)="register()" [formGroup]="registrationForm">
                <div class="input-field">
                    <input type="text" formControlName="name" name="name" autocomplete="name" placeholder="Enter your name" required>
                    <i class="ri-user-3-line"></i>
                    <span class="required-indicator" *ngIf="registrationForm.controls['name'].hasError('required') && registrationForm.controls['name'].touched">*</span>
                </div>
            
                <div class="input-field">
                    <input type="email" formControlName="email" name="email" autocomplete="email" placeholder="Enter your email" required>
                    <i class="ri-mail-line"></i>
                    <span class="required-indicator" *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched">*</span>
                </div>
            
                <div class="input-field">
                    <input type="password" formControlName="password" name="password" autocomplete="new-password" placeholder="Password" required>
                    <i class="ri-lock-2-line"></i>
                    <span class="required-indicator" *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched">*</span>
                </div>
            
                <div class="input-field">
                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                    <i class="ri-lock-2-line"></i>
                    <span class="required-indicator" *ngIf="registrationForm.controls['confirmPassword'].hasError('required') && registrationForm.controls['confirmPassword'].touched">*</span>
                    <i *ngIf="passwordVisible" class="ri-eye-line showHidePw" (click)="togglePasswordVisibility()"></i>
                    <i *ngIf="!passwordVisible" class="ri-eye-off-line showHidePw " (click)="togglePasswordVisibility()"></i>
                </div>
            
                <div class="input-field button">
                    <button type="submit" (click)="register()">Signup</button>
                </div>

                <div *ngIf="registrationForm.invalid" class="error-message">
                    Please fill in all required fields and ensure that passwords match.
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Already have an account?
                    <a routerLink="/login" class="text login-link">Login Now</a>
                </span>
            </div>
        </div>
    </div>
</div>
