.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: calc(100vh - 125px);
}

.menu-icon,
.back-icon {
    display: none;
}

.sidebar {
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 8vw;
    left: 5vw;
}

.sidebar h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    color: #555;
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #5295BF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
}

button:hover {
    background-color: #326B95;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.skeleton-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    padding: 30px;
    margin-left: 23vw;
    margin-top: auto;
}

.skeleton-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.skeleton-card-content {
    padding: 12px;
}

.skeleton-card img,
.skeleton-card-content h2,
.skeleton-card-content p {
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, 0.11) 20%, #d9d9d9 40%, #d9d9d9 100%);
    animation: animation 2s linear infinite;
}

.skeleton-card img {
    height: 200px;
}

@keyframes animation {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0; 
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    padding: 30px;
    margin-left: 23vw;
    margin-top: auto;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #55555582;
}

.card-content {
    padding: 12px;
}

.card-content h2 {
    margin-top: -8px;
    font-size: 1em;
    margin-bottom: 8px;
}

.card-content .title {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card-content .price {
    color: #5295BF;
    font-weight: bold;
}

.pd {
    display: flex;
    margin-top: 15px;
}

.card-content .location {
    color: #666;
    margin-top: auto;
    margin-left: auto;
}

.card-content .location i {
    font-weight: bold;
    color: #5295BF;
    font-size: 1.2em;
}

.no-ads-message {
    margin: 5vw;
    color: #555;
    font-size: 2vw;
    line-height: 1.5;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}


@media(max-width: 600px) {

    .sidebar {
        display: none;
    }

    .menu-icon,
    .back-icon {
        display: block;
        font-size: 6vw;
        font-weight: 500;
        z-index: 10;
        position: absolute;
        top: 65px;
        left: 8px;
        cursor: pointer;
    }

    .back-icon {
        z-index: 30;
    }

    .show {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 100px);
        position: fixed;
        top: 61px;
        left: 0;
        z-index: 20;
        background-color: #f9f9f9;
        transition: all 0.2s ease-in-out;
    }

    .sidebar h2 {
        font-size: 5.5vw;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    label {
        font-weight: 600;
    }

    select {
        width: calc(100% - 60px);
        font-size: 18px;
    }

    button {
        width: calc(100% - 230px);
        font-size: 1.2em;
        margin-top: 10px;
        margin-right: 35px;
        padding: 10px;
    }

    .container {
        max-height: calc(100vh - 145px);
        margin-top: 35px;
    }

    .skeleton-container,
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        gap: 30px;
    }

    .card:hover {
        transform: none;
    }
    
    .no-ads-message {
        margin: 10vw;
        font-size: 5vw;
    }

}