<header>
    <nav>
      <img src="../../assets/icons/logo.png" class="logo" alt="Logo">
      <ul class="nav-list">
        <li><a routerLink="#">Home</a></li>
        <li><a routerLink="#">About us</a></li>
        <li class="dropdown">
          <a routerLink="#" class="dropbtn">Settings</a>
          <div class="dropdown-content">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="#">Chats</a>
            <a routerLink="#">Logout</a>
          </div>
        </li>
        <button class="login-btn" (click)="redirectlogin()">Login</button>
      </ul>
    </nav>
</header>
  
<main>
    <section class="content">
      <h1>Welcome to StorageBox</h1>
      <p>A one-stop solution for all your storage needs.<br>
        Look for storage spaces in your area.<br> 
        Contact the owner.<br> 
        Store your belongings.<br>
        Click on View Ads and find out now!!
      </p>
      <button type="button" (click)="redirectToPost()"><span></span>Post Ads</button>
      <button type="button" (click)="redirectToView()"><span></span>View Ads</button>
    </section>
</main>
  