header {
    height: 90px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    position: relative;
}

menu {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 60px;
    margin-right: 5px;
}

.logo span {
    font-size: 2vw;
    font-weight: 700;
}

menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu li a {
    cursor: pointer;
    font-size: 1.5vw;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    position: relative;
    transition: color 0.3s ease;
}

menu li a:hover {
    color: rgb(69, 141, 186);
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.profile-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;
    border: 3px solid #4070f4;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.profile span {
    font-weight: 600;
    font-size: 1.4vw;
    color: rgb(69, 141, 186);; 
    padding-right: 20px;
}

header i {
    font-weight: 800;
    display: none;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
}

header button {
    font-size: 1.1vw;
    padding: 0.8vw 1.5vw;
    background-color: rgb(69, 141, 186);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header button:hover,
header button:focus {
    background-color: #326b95; 
    outline: none;
}

footer {
    background-color: #6F7A96;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 600px) {
    header {
        padding: 0 6vw;
        height: 60px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        max-height: 40px;
        margin-right: 5px;
    }

    .logo span {
        font-size: 5vw;
        font-weight: 700;
    }

    header button {
        margin-top: 15px;
        font-size: 6vw;
        padding: 2.5vw 5vw;
    }

    header i {
        display: block;
        font-size: 10vw;
        z-index: 100;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    menu {
        display: none;
    }

    .profile{
        order: -1;
        position: absolute;
        top: 20px;
    }

    .profile span {
        font-size: 5vw; 
        color: white;
    }

    .profile-picture-container{
        width: 80px;
        height: 80px;
    }

    .profile-picture-container img {
        object-fit: cover;
    }

    menu.show-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.85);
        transition: all 0.2s ease-in-out;
        padding-bottom: 20vh;
    }

    menu.show-menu li {
        margin-bottom: 10px;
    }

    menu.show-menu li a {
        font-weight: bold;
        font-size: 7vw;
        color: white; 
        transition: color 0.3s ease;
    }

    .footer-content {
        flex-direction: column;
    }
}