<header>
    <div class="logo">
        <img src="../../../assets/icons/logo.png" alt="company logo">
        <span>StorageBox</span>
    </div>

    <ul class="nav" [ngClass]="{ 'show-menu': isMenuOpen, 'show-close': isCloseIconVisible }">
        <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/home" (click)="closeMenu()">Chats</a></li>
        <li><a routerLink="/home" (click)="closeMenu()">Settings</a></li>
        <button *ngIf="!authService.loggedIn()" (click)="redirectToLogin()">Login</button>
        <button *ngIf="!authService.loggedIn()" (click)="redirectToRegister()">Register</button>
        <button *ngIf="authService.loggedIn()" (click)="authService.logout()">Logout</button>
    </ul>
    <i class="ri-menu-3-fill" (click)="toggleMenu()"></i>
</header>

<footer>
    <div class="footer-content">
        <p>&copy; {{ currentYear }} StorageBox. All rights reserved.</p>
    </div>
</footer>