<header>
    <h1>StorageBox</h1>
    <ul class="nav-part2" [ngClass]="{ 'show-menu': isMenuOpen, 'show-close': isCloseIconVisible }">
        <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/about-us" (click)="closeMenu()">About Us</a></li>
        <li><a routerLink="/settings" (click)="closeMenu()">Settings</a></li>
        <button (click)="redirectToLogin()">Login</button>
        <button (click)="redirectToRegister()">Register</button>
    </ul>
    <i class="ri-menu-3-fill" (click)="toggleMenu()"></i>
</header>