<header>
    <div class="logo">
        <img src="../../../assets/icons/logo.png" alt="company logo">
        <span>StorageBox</span>
    </div>

    <ul class="nav" [ngClass]="{ 'show-menu': isMenuOpen, 'show-close': isCloseIconVisible }">
        <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
        <li><a routerLink="/home" (click)="closeMenu()">Chats</a></li>
        <li><a routerLink="/home" (click)="closeMenu()">Settings</a></li>
        <ng-container *ngIf="!authService.loggedIn()">
            <button (click)="redirectToLogin()">Login</button>
            <button (click)="redirectToRegister()">Register</button>
        </ng-container>
        <button *ngIf="authService.loggedIn()" (click)="authService.logout()">Logout</button>
    </ul>
    <i class="ri-menu-3-fill" *ngIf="!isMenuOpen" (click)="toggleMenu()"></i>
    <i class="ri-close-fill" *ngIf="isCloseIconVisible" (click)="closeMenu()"></i>
</header>

<footer>
    <div class="footer-content">
        <p>&copy; {{ currentYear }} StorageBox. All rights reserved.</p>
    </div>
</footer>