.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 2vw auto;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column; 
    height: auto; 
    width: 100%; 
    transition: height 0.2s ease;
}

.form {
    width: 100%; 
    padding: 30px;
    background-color: #fff;
}

.title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

input:is(:focus, :valid) ~ i {
    color: #4070f4;
}

i.icon {
    left: 0;
}

i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.button {
    margin-top: 25px;
}

button {
    border: none;
    color: #fff;
    width: 100%;
    font-size: 18px; 
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px 20px; 
}

button:hover {
    background-color: #265df2;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.login-signup {
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        margin: 5vw auto;
        max-width: 350px;
    }
}
