<div class="container">
    <div id="adsList">
        <h3>My Posted Ads</h3>
        <ul>
            <li *ngFor="let ad of postedAds">
                <div class="ads" [ngClass]="{ 'rented': ad.isRented }">
                    <div class="ad-image">
                        <img [src]="ad.images[0]" alt="Ad Image">
                    </div>
                    <div class="ad-details">
                        <h4>{{ ad.name }}</h4>
                        <p>Price: {{ ad.price }}</p>
                        <p>Location: {{ ad.city }}</p>
                        <p>Status: {{ ad.isRented ? 'Rented' : 'Available' }}</p>
                        <div class="action">
                            <button class="view-btn" (click)="viewAdDetails(ad.id)">
                                <span class="desktop-text">View</span>
                                <i class="ri-eye-line mobile-icon"></i>
                            </button>
                            <button class="edit-btn" (click)="editAd(ad.id)">
                                <span class="desktop-text">Edit</span>
                                <i class="ri-edit-line mobile-icon"></i>
                            </button>
                            <button class="delete-btn" (click)="deleteAd(ad.id)">
                                <span class="desktop-text">Delete</span>
                                <i class="ri-delete-bin-line mobile-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>