<div id="adsList">
    <h3>My Posted Ads</h3>
    <ul>
        <li *ngFor="let ad of postedAds">
            <div class="ad-card">
                <div class="ad-image">
                    <img [src]="ad.image" alt="Ad Image">
                </div>
                <div class="ad-details">
                    <h4>{{ ad.title }}</h4>
                    <p class="ad-price">Price: {{ ad.price }}</p>
                    <p class="ad-location">Location: {{ ad.city }}</p>
                    <p class="ad-status">Status: {{ ad.isRented ? 'Rented' : 'Available' }}</p>
                    <div class="action">
                        <button class="edit-btn" (click)="editAd(ad.id)">Edit</button>
                        <button class="delete-btn" (click)="deleteAd(ad._id)">Delete</button>
                    </div> 
                </div>
            </div>
        </li>
    </ul>
</div>
