<body>
    <section id="menu">
        <div class="logo">
            <img src="../../../assets/icons/logo.png" alt="">
            <h2>StorageBox</h2>
        </div>

        <div class="items">
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
            <li><i class="ri-dashboard-fill"></i><a href="#">Dashboard</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="ri-menu-fill"></i>
                </div>
                <div class="search">
                    <i class="ri-search-line"></i>
                    <input id="search" type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="ri-notification-2-line"></i>
                <img src="../../../assets/images/blank.png" alt="">
            </div>
        </div>

        <h3 class="i-name">Dashboard</h3>

        <div class="values">
            <div class="val-box">
                <i class="ri-team-line"></i>
                <div>
                    <h3>8,267</h3>
                    <span>New Users</span>
                </div>
            </div>
            <div class="val-box">
                <i class="ri-team-line"></i>
                <div>
                    <h3>8,267</h3>
                    <span>New Users</span>
                </div>
            </div>
            <div class="val-box">
                <i class="ri-team-line"></i>
                <div>
                    <h3>8,267</h3>
                    <span>New Users</span>
                </div>
            </div>
            <div class="val-box">
                <i class="ri-team-line"></i>
                <div>
                    <h3>8,267</h3>
                    <span>New Users</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Title</td>
                        <td>Status</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="people">
                            <img src="../../../assets/images/blank.png" alt="">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john.com</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>Software Engineer</h5>
                            <p>Web dev</p>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td class="verify">
                            <a href="#">Verify</a>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </section>
</body>