<div class="container">
    <div class="forms">
        <div class="form forgot-password">
            <span class="title">Forgot Password</span>
            
            <form [formGroup]="forgotPasswordForm">
                <div class="input-field">
                    <input id="email" type="email" formControlName="email" autocomplete="email" placeholder="Enter your email" required>
                    <i class="ri-mail-line"></i>
                </div>

                <div class="input-field button">
                    <button (click)="submitEmail()" [disabled]="forgotPasswordForm.invalid" type="button">Send Email</button>
                </div>
            </form>

            <div class="login">
                <span class="text">Remember your Password?
                    <a routerLink="/login" class="text login-link">Login</a>
                </span>
            </div>

        </div>
    </div>
</div>